<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Relatório.Properties.Settings.ConnectionString"
            connectionString="Data Source=MATEUS-LAPTOP\SQLDEVELOPER;IntegratedSecurity=True"
            providerName="System.Data.SqlClient" />
        <add name="Projeto_Relatório.Properties.Settings.Dados" connectionString="Data Source=MATEUS-LAPTOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>